[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Daniel Suazo Pavez
	email = dsuazop@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = cache
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[url "git@github-hata:"]
	insteadOf = git@github.com:
[includeIf "gitdir:~/projects/work/raiz/"]
	path = ~/.gitconfig-raiz
[includeIf "gitdir:~/projects/work/blumar/"]
	path = ~/.gitconfig-blumar
