[core]
	excludesfile = /home/hata/.gitignore_global
[user]
	name = Daniel Suazo Pavez
	email = dsuazop@gmail.com
[init]
	defaultBranch = main
[credential]
	helper = store
	helper = cache
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
